Django==1.10.2
django-filter==0.14.0
django-graph-auth==0.3.0
django-graphiql==0.4.4
djangorestframework==3.5.2
djangorestframework-jwt==1.8.0
graphene==1.0.2
graphene-django==1.0
graphql-core==1.0
graphql-django-view==1.4
graphql-relay==0.4.4
iso8601==0.1.11
promise==1.0.0
psycopg2==2.6.2
PyJWT==1.4.2
singledispatch==3.4.0.3
six==1.10.0
typing==3.5.2.2
